[2017-08-22 03:43] GuangchuangYu opened #1 "true_min not found"
[code]

This may due to the upgrade of `dplyr`.

[code]

[2017-08-22 04:05] wilkox commented on #1
Thanks @GuangchuangYu, looks like it was a `dplyr` change. Should be working now.

[2017-08-22 04:12] GuangchuangYu commented on #1
I also figure it out. I think it would be more safe to use `select_` and all using column name (character).

I am think about using it with `ggtree` as <https://stackoverflow.com/questions/45384281/ggjoy-facet-with-ggtree>.

It is not possible to work with `facet_plot` as you are using `facet_wrap` .

[2017-08-22 08:13] GuangchuangYu commented on #1
FYI: a wrapper function `geom_motif` to work with `ggtree`.

[2017-08-22 09:45] wilkox commented on #1
`geom_motif` looks like a good implementation of this idea. Since you're importing `geom_gene_arrow`, would it help if I tidy up 'gggenes' and put it on CRAN? Or you're welcome to just copy the functions straight into `ggtree` if you want.

BTW, thanks for making `ggtree`! It's a great package.

[2017-08-25 00:31] jonocarroll opened #2 "README not rendering correctly"
The presence of README.html seems to be confusing github so it's not rendering the .md on landing.

Great looking package BTW - I was just promoting it when the render issue was noted.

[2017-08-25 01:09] #2 closed

[2017-08-25 01:13] wilkox commented on #2
Thanks so much for the heads up @jonocarroll!

[2017-08-25 01:18] wilkox commented on #2
Interesting – I happened to have some tabs open showing earlier views of this and other repos, and they were rending the markdown README instead of the HTML, even though the HTML file was there. I guess a switch got flipped somewhere at GitHub this morning?

[2017-08-29 03:38] GuangchuangYu commented on #1
thanks @wilkox for putting the `gggenes` on CRAN.

I think the `geom_motif` should be refined and better incorporated in `gggenes`.

[2017-10-03 13:22] adomingues opened #3 "Gene orientation"
First of all, great work!

I would like to make three suggestions for the visualization:
- adding directionality to the arrows so that we could have for instance genB pointing to the right. The information could be added as an extra column in the data.
- Draw genes as boxes, that is without arrows at all, for those situations when directionality is not important.
- label the genes with their names

[2017-10-04 04:21] wilkox commented on #3
Thanks for the suggestions @adomingues!

For arrow directionality, the arrows will always be drawn xmin → xmax.

[code]
![screen shot 2017-10-04 at 08 15 34](https://user-images.githubusercontent.com/726198/31149616-3b4b5e20-a8dc-11e7-9ba4-9296b7c00dbb.png)

I considered creating a separate aesthetic for direction, but the approach in the rest of ggplot2 is to infer directionality from start and e

[2017-10-04 04:21] #3 closed

[2017-10-04 07:16] adomingues commented on #3
Thanks a lot @wilkox for the very quick reply and added features!

[2017-11-08 19:38] dsladevt opened #4 "Wrap genes to plot whole genome"
We love your program!  I was wondering if there is a way to plot a whole genome (~2000 genes), but have it wrap around to make multiple lines instead of it all being on one line?  I guess we could do this manually by instead of making each line a genome just not labeling, but one line that wraps at a specified number of bases would be great.

Keep up the good work!

[2017-11-10 02:38] wilkox commented on #4
Thanks for the suggestion! I don’t think there’s a simple way to implement this at the moment but I’ll see if I can get it into a future version.

[2017-11-11 12:16] jasonserviss opened #5 "Arrow direction"
A feature request/suggestion/question... It would be useful to be able to change the direction of the arrow (from pointing right to pointing left) in cases where the two separate DNA strands would need to be represented. Is this already possible? Would it be something that you think should/could be implemented?

[2017-11-16 00:42] wilkox commented on #5
Thanks for the suggestion @jasonserviss. The latest development release (v0.2.0.9003) adds a new `forward` aesthetic that lets you control the direction of genes independent of `xmin` and `xmax`. I'm not sure if this is the best way to implement this so I'd be glad to hear any feedback.

[2017-11-16 00:43] wilkox commented on #3
@adomingues In case you're still interested in the gene directionality issue, the latest development release (v0.2.0.9003) adds a new `forward` aesthetic that lets you control the direction of genes independent of `xmin` and `xmax`. I'm not sure if this is the best way to implement this so I'd be glad to hear any feedback.

[2017-11-16 08:29] jasonserviss commented on #5
That turned out really nice! I think it allows more flexibility for different types of use cases. No comments on the implementation,  it is pretty common that strand is included as a separate field in most genomics annotation so that is easily used as the "forward" variable that you added. Thanks a lot!

[code]

![gggenes](https://user-images.githubusercontent.com/11668021/32880992-eb199bf6-caaf-1

[2017-11-16 08:29] #5 closed

[2017-11-17 18:11] adomingues commented on #3
Thank you for letting me know @wilkox, but I ended up using ggbio for my particular purpose. I will this in mind for future projects though.

[2018-06-05 20:34] swuyts opened #6 "make_alignment_dummies undefined columns selected"
Hi there,

Great package! Thanks!

I'm trying to create a dummy variable using 'make_alignment_dummies` as follows

[code]
This trows the following error:

[code]

geneA is definitely present in column Gene as I use almost the exact same aes call in the plot version (replacing 'id' with 'fill'). Would you be able to give me some insights in what's happening here?

Sorry about not providing a repro

[2018-06-05 22:28] wilkox commented on #6
Thanks for the bug report. Are you using the development version of ggplot2 (2.2.1.9000) by any chance? You can check by running `sessionInfo()`.

[2018-06-06 06:17] swuyts commented on #6
Yes, you are correct!

I now suspect that's a problem?

[2018-06-06 06:37] wilkox commented on #6
Glad to hear you found a fix! The problem was due to [some backwards-incompatible changes being introduced in the next version of ggplot2](https://www.tidyverse.org/articles/2018/05/ggplot2-2-3-0/).

I've already updated the development version of gggenes to support these changes, so if you want to keep using the development version of ggplot2 you can just install gggenes from GitHub: `devtools::i

[2018-06-06 06:37] #6 closed

[2018-06-07 09:15] wilkox commented on #4
@dsladevt On the off-chance that this would still be useful to you – [I've just released a package that solves this issue](https://github.com/wilkox/ggwrap).

[2018-06-07 09:15] #4 closed

[2018-11-07 06:52] ghbore opened #7 "support coord_polar?"
Is this package going to support polar coordinate?

[2018-11-09 07:17] wilkox commented on #7
Good idea. I'll have a look into what it would take to do this.

[2018-12-12 15:44] wipperman commented on #3
Hello! Fantastic package, I can see this being so useful in my work--thanks!

Regarding the gene directionality issue, unless I'm misunderstanding something above, I think the best way to approach this would be to add an option where the start/end are reversed as a function of a logical in another column.

So in the 'example_genes' case, when I plot them using the tutorial parameters, all of the a

[2018-12-13 11:20] wilkox commented on #3
Hi @wipperman, thanks for your interest in the package! I think the `forward` aesthetic added in v0.3.0 is similar to what you're suggesting as it will set the direction of the gene based on a column of logical values. See [this section of the README](https://github.com/wilkox/gggenes#reversing-some-genes-with-the-optional-forward-aesthetic) for a description.

[2018-12-14 00:51] wipperman commented on #3
I was actually thinking something where the 'molecule' would still be faceted as is. As a biology-person, I want to see the genes pointing in the orientation that they are intended to, rather than having all of the arrows pointing in the same direction. The code below should do that--let me know if this makes sense?

[code]

[2019-01-10 16:32] zdk123 opened #8 "extract polygons from plot"
Is it possible to extract the coordinates of the underlying polygons from the ggplot object?

[code]
only contains the original start/stop position.
thanks!

[2019-01-13 11:12] wilkox commented on #8
There's no easy way to do this that I know of, as the arrow polygon coordinates are generated at drawing time by `makeContent.genearrowtree()` – they're not in the plot object. Further, the coordinates would be in the coordinate system of their individual viewports/panels, not the entire plot.

Do you mind if I ask what you want the coordinates for? There might be an easier way to achieve it.

[2019-01-16 21:49] zdk123 commented on #8
I am primarily motivated by the use of [interactive shiny plots](https://shiny.rstudio.com/articles/plot-interaction.html). The basic app is to click on a gene and have some metadata display underneath the plot. Use the brush tool to highlight a gene and the image regenerates, coloring other genes over a similarity threshold (precomputed with BLAST, for instance).

I've actually got this part work

[2019-01-18 15:50] zdk123 commented on #8
I am following up because I solved my own problem by forking gggenes and adding a new geom called `geom_subgene_arrow`. The idea is to draw subgene polygons given the range of the subgene and gene, and compute, on the fly, the shape of where the arrowhead portions of the gene are.  Therefore, I've left the aesthetics `xmin` and `xmax` to be the endpoints of the gene and added `x` and `xend` to be

[2019-01-20 05:20] wilkox commented on #8
This is fantastic! Please submit this as a PR if you have the time. The only major change I would request (other than documentation and tests) would be to call the new aesthetics `xsubmin` and `xsubmax`, for consistency and for future-proofing against potential geoms that might use `x` to locate a point feature (e.g. restriction enzyme site).

[2019-01-20 05:20] #8 closed

[2019-01-20 18:42] zdk123 commented on #8
makes sense. I will work on it this week.

[2019-01-30 07:40] wilkox commented on #3
Sorry, but I'm still a bit confused about what you are trying to achieve. It seems like what you're describing is provided by the `forward` aesthetic:

[code]

![](https://i.imgur.com/JloMmwX.png)

<sup>Created on 2019-01-30 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

(Note that you need to give `geom_blank` a dummy `forward` aesthetic, otherwise ggplot will complain that

[2019-05-14 08:57] MichWeb75 opened #10 "gggenes works not with plotly"
Hi, it would be absolutely a dream if the gggenes plot would be transformable to a plotly object.

[code]

Error in convertUnit(x, unitTo, "y", "dimension", "y", "dimension", valueOnly = valueOnly) :
  'x' argument must be a unit object

[2019-05-14 20:35] paleolimbot opened #11 "Forthcoming release of ggplot2 and gggenes"
We are contacting you because you are the maintainer of **gggenes**, which imports **ggplot2** and uses **vdiffr** to manage visual test cases. The upcoming release of **ggplot2** includes several improvements to plot rendering, including the ability to specify `lineend` and `linejoin` in `geom_rect()` and `geom_tile()`, and improved rendering of text. These improvements will result in subtle chan

[2019-05-24 04:03] wilkox commented on #10
Hi @MichWeb75, unfortunately plotly doesn't provide automatic support for custom geoms like geom_gene_arrow() ([see here for a discussion](https://plot.ly/r/reference)). It might be possible in the future to add support via a custom geom2trace method, but at first glance I can't see a straightforward way to implement this. Sorry.

[2019-05-24 04:03] #10 closed

[2019-05-25 03:58] #11 closed

[2019-05-25 03:58] wilkox commented on #11
Thanks @paleolimbot

[2019-07-05 13:06] MichWeb75 opened #12 "Perfect alignment of gene island"
Hallo , first of all this is a absolutely wonderful visualisation tool for gene maps.
I want to draw gene maps with differing composition of genes due to mutations and frame shifts.
This means that in each line different genes are missing. Still, I want the maps to be aligned according to overlapping genes.

![Screenshot from 2019-07-05 14-56-16](https://user-images.githubusercontent.com/36404820/

[2019-07-12 06:21] wilkox commented on #12
I'm afraid there's currently no good way to do this with gggenes and `make_alignment_dummies()`. Ultimately I think the solution will be to build in some kind of auto-alignment feature that attempts to find the optimal alignment across all the molecules. I've played around with implementing this feature but haven't yet found an algorithm that works in a reasonable amount of time.

[2019-07-23 12:09] MichWeb75 opened #13 "Default Color"
Hi Wilkox,
I am try to set up a custom colour scheme using the default colours of gggenes.
Which are your default colours, which you use appart from ColorBrewer::Set3 ?

[2019-07-23 21:31] wilkox commented on #13
Hi @MichWeb75,

The fill colours are set by ggplot2 (including any `scale_` layers like `scale_fill_brewer()`), not gggenes. The scales package has a function that will generate the ggplot2 discrete fill scales based on the number of categories:

[code]

![](https://i.imgur.com/jknpf1t.png)

<sup>Created on 2019-07-24 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-07-23 21:31] #13 closed

[2019-08-27 21:24] mschecht opened #14 "Forward and reverse genes on the same line"
Hi thanks for this great way to visualize contigs!

Would it be possible to have the forward and reverse genes on the same strand rather than on separate forward and reverse strands?

[2019-08-28 04:11] #14 closed

[2019-10-18 18:46] AnRibo opened #15 "Modify theme_genes"
Hi, nice extension!
Just a question about theme_genes
I can modify everything in theme except for the grey central line, none of the line/axis code for ggplot themes seem to work?

[2019-10-19 00:07] wilkox commented on #15
Hi,

Try `panel.grid.major.y`:

[code]

![](https://i.imgur.com/MPFEdKb.png)

<sup>Created on 2019-10-19 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-10-19 00:07] #15 closed

[2019-12-02 14:12] Batstaph opened #16 "Label genes above gene boxes"
Thanks for the great prog. I have some good illustrations, but I want to produce an illustration of a phage, so having the gene names inside the gene boxes doesn't work. I have tried without success to find an easy way to add the names above the boxes. I wondered if you had any suggestions. Here is an example of what I am trying to achieve.

![image](https://user-images.githubusercontent.com/37119

[2019-12-23 17:01] wilkox commented on #16
Sorry it took me so long to reply to this. Here's one way you can add text above the arrows with `geom_text()`:

[code]

![](https://i.imgur.com/TZAoKgW.png)

<sup>Created on 2019-12-24 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-01-06 13:18] Batstaph commented on #16
This worked really nicely,  thank you for taking the time to reply.

Kay

Kay Fountain B.Vet.Med MVS (Conservation Medicine) MRCVS
PhD Student
Ed Feil Lab
University of Bath

________________________________
From: David Wilkins <notifications@github.com>
Sent: 23 December 2019 17:01
To: wilkox/gggenes <gggenes@noreply.github.com>
Cc: Kay Fountain <kif21@bath.ac.uk>; Author <author@noreply.github.c

[2020-01-06 22:11] #16 closed

[2020-01-15 15:04] mweberr opened #17 "Legend Size"
The font size of the legend is too large if many different genes are shown in the gggenes plot. Is it possible to change the size of the legend. I tried
[code]
None of them worked.

[2020-01-22 07:32] wilkox commented on #17
Hi @MichWeb75, could you post a [reprex](https://reprex.tidyverse.org/index.html) with some example data showing the problem?

[2020-01-28 10:34] seanaller opened #18 "Issue with dummy gene alignment"
Hi there,

I'm trying to construct the dummy gene alignment but I seem unable to.

I have got all the other plotting features working. I've compared my data types to the example types and they appear to be identical. Adding in the `geom_blank(data = dummies)` doesn't change the plot, nor does it throw up an error. It just produces the same plot as without it.

I'm wondering if this is a known bug?

[2020-01-28 11:16] seanaller commented on #18
Ah, just figured it out. I had some NAs in the gene section which was causing an issue. Removing them as fixed the issue, closed now.

[2020-01-28 11:16] #18 closed

[2020-02-12 18:08] kcm18 opened #19 "error with subgene colours on reverse arrows"
Plotting genes in forward direction with colouring of subgene segments the genes works, however fails when trying to plot the genes in reverse orientation with colouring of subgene segements

e.g.
ggplot(example, aes(xmin=example$start, xmax=example$end, y=example$molecule, forward=example$direction))+geom_gene_arrow(fill = "white") +geom_subgene_arrow(data = example,aes(xmin = example$start, xmax

[2020-02-13 08:29] wilkox commented on #19
Thanks for the report @kcm18. Could you post the example code as a [reprex](https://reprex.tidyverse.org)? At the moment I can't replicate this bug because I don't have the `example` data frame.

[2020-03-31 12:22] rickbeeloo opened #20 "May be useful to autoconvert `molecule` to character"
This may be a rare problem, however I did experience it in my case where my genome ids (thus `molecule`) are numbers. So it would be useful to mention in the documentation that the `molecule` has to be character, or convert this automatically before plotting.

Let' s take the package example and change to numerical `molecule` ids:
[code]
When we then plot this (only a part shown):
![image](https:/

[2020-04-16 05:56] mchiapello opened #21 "Virus genome"
Hello,
I am trying to use your package with viruses. I have encountered a problem, I do not know how to overcome.

Here the code:

[code]

![](https://i.imgur.com/Qs6xHOa.png)

<sup>Created on 2020-04-16 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

As you can see the subdomain in "Example2", ORF4 is not displayed.  There is any way to overcome this behaviour.

Thank you,
M

[2020-04-25 07:11] wilkox commented on #20
Thanks for the suggestion @rickbeeloo! This is a ggplot2 feature, not a feature of gggenes per se – the axis ticks and labels are selected automatically depending on whether the variable is continuous or discrete (categorical). I wouldn't want to overwrite this behaviour in gggenes, since it would be inconsistent with the rest of ggplot2 and somebody might conceivably have a reason to plot molecul

[2020-04-25 07:11] #20 closed

[2020-04-25 08:20] wilkox commented on #21
Thanks for the bug report and the pull request @mchiapello! I've fixed this bug in the development version:

[code]

![](https://i.imgur.com/8b69TPa.png)

<sup>Created on 2020-04-25 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-04-25 08:20] #21 closed

[2020-05-13 16:23] awitney opened #23 "Combine gggenes with other ggplot?"
Hi,

I have a sequence coverage plot for a region of several genes, i would like to combine with gggenes to show the gene arrangement overlayed or next to the coverage ggplot.

Is this possible at all?

thanks

[2020-05-16 06:48] wilkox commented on #23
Hi @awitney, this isn't directly supported in gggenes but you should be able to manage it with some other packages. I suggest either [patchwork](https://github.com/thomasp85/patchwork), which lets you composite multiple plots side-by-side, or have a look at a package under development called [gggenomes](https://thackl.github.io/gggenomes/).

[2020-05-16 06:48] #23 closed

[2020-05-24 05:51] thackl opened #24 "Getting involved with gggenomes development"
Hi David
It tried to contact you by email a few days ago (via contact@wilkox.org). But I'm not sure if my message came through. So I'm just trying this channel.

My name is Thomas, I'm a postdoc working on microbial and viral genomics. I'm a big fan of ggplot and your gggenes package. It inspired me to put together my own package, which at the beginning I thought would just become an extension to

[2020-05-28 07:22] #24 closed

[2020-06-19 07:43] Unlock-ViV opened #25 "Can we make these"

[2020-06-19 07:48] Unlock-ViV commented on #25
I just want to know is it possible to get the plot or representation for the genome architecture in a circular format instead of linear?

[2020-06-20 01:41] wilkox commented on #25
Hey @Unlock-ViV, this is a planned feature but unfortunately not added yet. I'm going to close this issues as it's a duplicate of #7.

[2020-06-20 01:41] #25 closed

[2020-06-20 04:57] Unlock-ViV commented on #25
okay, but can you suggest me how to go about it or this can be achieved?

[2020-06-20 08:14] wilkox commented on #25
I'm not aware of any R package that can do this currently. You might want to have a look at [Circos](http://circos.ca).

[2020-06-25 13:16] Unlock-ViV commented on #25
Thank you, I'll try that.

[2020-07-02 03:05] ramadatta opened #26 "order of the genome names"
Hi,

Thanks for wonderful package.

I am trying to align according to a specific gene using `make_alignment_dummies` but the order of the genomes in the final figure are sorted by genome names. This results me a figure, where a few genomes on top are similar and a few genomes with the same gene contents due to different names are sorted by names are seen at the bottom.

Is there a way to sort the

[2020-07-04 00:04] wilkox commented on #26
Hi ramadatta, you can set the order of the genomes (or indeed any categorical variable mapped to an axis) by [making that variable a factor](https://stackoverflow.com/questions/3253641/order-discrete-x-scale-by-frequency-value).

If this doesn't work or you need some more help, could you post the code you already have as a [reprex](https://reprex.tidyverse.org/articles/articles/magic-reprex.html)?

[2020-07-06 13:13] ramadatta commented on #26
Thanks much @wilkox . Will come to you soon on this.

[2020-07-07 06:21] ramadatta commented on #26
[code]

![](https://i.imgur.com/MpgLdsg.png)

[code]

![](https://i.imgur.com/dS3pui7.png)

Hi @wilkox ,

Thank you very much for passing the reprex link. It was useful.

Accordingly, I need the final output figure above in the order of the genomes found in the `"sorted_PA_matrix"`. Passing `sorted_examples_genes` and `sorted_dummies` and using factorizing the molecule, could not help me generate

[2020-07-08 11:10] wilkox commented on #26
[code]

![](https://i.imgur.com/WSfQ0mR.png)

<sup>Created on 2020-07-08 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0.9001)</sup>

[2020-07-10 00:29] ramadatta commented on #26
Thank you so much for this @wilkox. This is what I needed.

[2020-07-10 00:29] #26 closed

[2020-08-04 16:19] acpguedes opened #27 "error and empty plot"
Hi,

I'm trying to plot many genes neighborhood.

This is my data
[code]

Then I tried this code:
[code]
And finally I got this plot
![image](https://user-images.githubusercontent.com/1912449/89316543-a1e4a500-d652-11ea-9ad9-1f95831d2e4b.png)

What do I'm doing wrong??

Also, this was just with a set of the data.
The complete data are attached. If I try the same code with the entire data (`my_gene

[2020-08-04 17:36] acpguedes opened #28 "[feature request] arrow shape - aesthetics strand or direction"
Hi,

I don't know if I missed an option, but I suggest an `aesthetics` to create an arrow according to the strand feature.
` geom_gene_arrow(aes(direction = strand)) `

The effect of this aesthetics must be the direction of the arrow, this way it may support non-overlapping genes in the same `y` axis.

I don't know how to represent when it has overlap.

Another suggestion, to better fit the name o

[2020-08-09 05:55] wilkox commented on #28
Hi Aureliano,

Re. your first suggestion, if I understand correctly this functionality is already provided by the `forward` aesthetic:

    library(ggplot2)
    library(gggenes)

    example_genes$direction <- ifelse(example_genes$strand == "forward", 1, -1)
    ggplot(subset(example_genes, molecule == "Genome1"),
                    aes(xmin = start, xmax = end, y = strand, fill = gene,

[2020-08-09 06:08] wilkox commented on #27
Hi Aureliano,

The main problem is that the gene locations are so far apart that the arrows are very compressed on the x axis, so appear in the plot as thin lines. One solution is to facet the separate genes and molecules with their own x scales. I've also simplified the code a little:

    library(gggenes)
    library(tidyverse)

    subgenes <- read_tsv("~/gggenes/gene_ans_subgenes_example.tsv")

[2020-08-09 06:08] #27 closed

[2020-08-17 11:07] StromTroopers opened #29 "Add scaffold length, sort them and display start-stop"
Hello I write this message in order to ask you if this kind of figure can be done with gggenes :

<img width="1043" alt="Capture d’écran 2020-08-17 à 13 04 26" src="https://user-images.githubusercontent.com/38229558/90389708-5ab2d700-e08a-11ea-8610-d5e5b67f0988.png">

Indeed I wondered if it was possible to (1) add the information about the chr or scaffold length and (2) order the figure with th

[2020-08-17 22:56] wilkox commented on #29
Hi Grendek,

Thanks for your interest in gggenes! This should be possible to draw although it might need a bit of manual fiddling. Could you please post the data you used for your sample plot? Thanks!

[2020-08-18 08:49] StromTroopers commented on #29
Yes sure, so of course I made it manually so I will show you the data with the information I think would be needed in order to create a such plot with gggenes.

[code]

dput(tab)
structure(list(molecule = structure(c(1L, 1L, 2L, 2L, 3L, 4L,
4L, 5L, 6L), .Label = c("scaffold1", "scaffold2", "scaffold3",
"scaffold4", "scaffold5", "scaffold6"), class = "factor"), gene = structure(1:9, .Label = c("Gen

[2020-08-21 18:58] acpguedes opened #30 "Control green line"
Hi,

I got a simple question, how do I suppose to control the green line?

I know it is generated by the `theme_genes()` but I'd like to control its color and alpha, or even the thickness of the line.

Below I give my tries.

[code]

Give us this:
![image](https://user-images.githubusercontent.com/1912449/90924827-915c5a80-e3c6-11ea-9030-eb07440e7bce.png)
![image](https://user-images.githubusercon

[2020-08-23 19:17] acpguedes commented on #30
@wilkox sorry, rather **green** I should have written **gray**.

Anyway, your answer is exactly what I was looking for.

Thanks.

[2020-08-23 19:17] #30 closed

[2020-08-24 12:15] StromTroopers commented on #29
Hello, I came to see if you had found a way to make this kind of figure and especially if the data I provided you are well exploitable for that? Thank you again for your help

[2020-09-12 05:33] wilkox commented on #29
Sorry it's taken me so long to get back to this. Here's an example of some code to achieve what you want:

    library(tidyverse)
    library(gggenes)

    gdata <- structure(list(molecule = structure(c(1L, 1L, 2L, 2L, 3L, 4L, 4L, 5L, 6L), .Label = c("scaffold1", "scaffold2", "scaffold3", "scaffold4", "scaffold5", "scaffold6"), class = "factor"), gene = structure(1:9, .Label = c("Gene1", "Gene2",

[2020-09-12 05:33] #29 closed

[2020-10-06 08:42] ugobananas opened #31 "How to specify the color of some genes"
Hi Wilkox,

I'm now using a palette to colour the genes. But I hope to specify the colour of genes with the name 'na' and keep other genes using the colour from the palette. I can't achieve this by adding a second colour layer. Could you please tell me how can I make this using gggenes? Thank you in advance!

[2020-10-08 13:31] rickbeeloo commented on #28
+1 it would be really nice to plot both forward and reverse genes on **the same y-axis**, rather than on separate strands in the provided example.

@acpguedes for the labels you can try different things, for example using `ggrepel` (note I just quickly wrote this and can be plotted way nicer with some adjustments):

[code]
![image](https://user-images.githubusercontent.com/19516376/95465095-038afd

[2020-10-08 17:47] acpguedes commented on #28
@rickbeeloo nice, I like this alternative. Thanks for the suggestion

[2020-10-09 15:00] bbimber opened #32 "Place gene label above gene?"
Hello,

I have been looking to an R package that does this for a very long time - this seems like a well done and highly useful package.

I have one question: is there a way to get the gene label placed above the gene?  this would be especially helpful with short genes, as it would allow the label to extend past the gene end.

Thanks for any help.

[2020-10-11 00:31] wilkox commented on #32
Hi bbimber – unfortunately there's no easy way to do this with `geom_gene_label()`, although of course you can still use `geom_text()` to label genes.

[2020-10-11 00:31] #32 closed

[2020-10-11 00:36] wilkox commented on #32
@bbimber you might also want to look at [this suggestion](https://github.com/wilkox/gggenes/issues/28#issuecomment-705570329) from another gggenes user.

[2020-10-11 00:45] wilkox commented on #28
@rickbeeloo I might be misunderstanding what you're trying to do, but the `forward` aesthetic supports drawing a mix of gene directions on the same molecule:

    library(tidyverse)
    #> Warning: replacing previous import 'vctrs::data_frame' by 'tibble::data_frame'
    #> when loading 'dplyr'
    library(gggenes)

    example_genes %>%
      mutate(direction = sample(c(-1, 1), 72, T)) %>%

[2020-10-11 01:06] wilkox commented on #31
Hi @ugobananas – I don't quite understand what you're trying to do. Could you post a [reprex](https://reprex.tidyverse.org) of what you've done so far and explain what you want it to look like? Thanks!

[2020-10-12 06:12] ugobananas commented on #31
Hi Wilkox,

Sorry for not posting the codes. I want to keep the genes labeled as 'n' in grey and color other genes using the palette I generated. But I can only get this figure with all the genes colored by the palette.
![1](https://user-images.githubusercontent.com/65168005/95709571-7523be00-0c91-11eb-9ba2-77ab6eb232cd.png)

I tried to extract the 'n' genes into another dataframe, made an additio

[2020-10-14 09:04] rickbeeloo commented on #28
Aaah this is exactly what I meant! Awesome. Perhaps useful to add this example to the documentation at it will be more common than plotting in the same direction or on separate "molecules"

[2020-10-14 09:51] rickbeeloo commented on #28
**Update**
@wilkox I saw you referenced this in another question so I made some adjustments that may suit other cases.

<h3> Plot labels above genes using geom_text </h3>

- We move the labels above the gene using `nudge_y`
- Move them to the middle of the arrow `(start + end) /2`

[code]
![image](https://user-images.githubusercontent.com/19516376/95972389-aa0b4e80-0e12-11eb-84eb-1edaf65e057b.png)

[2020-10-17 06:06] wilkox commented on #28
@rickbeeloo Good idea, I've updated the example data and the README with a more useful example

[2020-10-17 06:18] wilkox commented on #31
See below an example of how this can be done using the `forcats` package.

    library(ggplot2)
    library(gggenes)
    library(RColorBrewer)
    library(forcats)

    # Prepare a palette of 11 colours + white at the end
    mycolours <- c(colorRampPalette(brewer.pal(9, "OrRd"))(11), "#FFFFFF")

    # Convert the "gene" variable into a factor with "protD" at the end
    example_genes$gene <- fct_

[2020-10-17 06:18] #31 closed

[2020-10-21 08:10] shakti83kumar opened #33 "How to draw a box instead of box arrow of a specific gene and how to colour it with specific colour rest of other genes"
Hi Sir,
I am Shakti Kumar from India. I want to dispaly flanking regions (left and right) of gene with box with specific colour rest of sorrounded genes. Kindly provide me the solution.

Thanks in advance,
Shakti Kumar
THSTI, India

[2020-10-24 23:54] wilkox commented on #33
Hi Shakti, I don't quite understand what you want. Could you draw a picture of what you want the plot to look like and upload it please?

[2020-10-26 13:43] shakti83kumar commented on #33
Thanks Wilkox Sir,
Sorry for late response.
Sir, I want to draw a box (not arrow box) to flanking regions of a genomic island for example cagPAI and rest og genes between these flanking sequence by arrow box. My second query is I have genome but genes of cagPAI reside different contigs, then how can I draw with break between two contigs as I shown in picture attached bellow

![IMG_20201026_190404]

[2020-11-19 11:03] wilkox commented on #33
Hi Shakti, sorry it's taken me so long to get back to this issue. You can draw boxes instead of arrows with `geom_gene_arrow()` by setting the `arrowhead_height` to the same as `arrow_body_height` (the default is 3 mm), and `arrowhead_width` to 0 mm:

[code]

![](https://i.imgur.com/QUhGYdA.png)

<sup>Created on 2020-11-19 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

For t

[2020-11-19 11:03] #33 closed

[2020-11-20 20:05] Lucas-Maciel opened #34 "Legend location"
I opened the issue by mistake, sorry

[2020-11-20 20:08] #34 closed

[2020-11-26 14:19] lhor opened #35 "using make_alignment_dummies() and forward aesthetic"
Hi,
Thank you for putting together this package. I'm having trouble when simultaneously using `make_alignment_dummies()` with the `forward` aesthetic option. Using the example data provided:

[code]

I'm not sure what's going on... am I missing anything? Thank you!

[2020-11-26 15:14] lhor commented on #35
oh! solved it! on issue #3 you discuss about this problem.

[2020-11-26 15:14] #35 closed

[2021-02-12 08:49] mchiapello opened #36 "Legend element border"
Hello,
is there a way to make the legend element borders white instead of black? With "legend element" I mean the square containing the gene/subgene colour.

Thank you,
M

[2021-02-20 16:26] jchariker opened #37 "Plot virus genome with overlapping genes"
Hi David,
I am plotting gene regions on the Sars-CoV-2 genome, and several regions overlap. Is there any way that gggenes can offset the overlapping areas? This is often done in other visualizations. I have an example of the problem below. Orf1ab-LP is contained within Orf1a which is contained within Orf1ab. If these were offset vertically it would work well.

molecule	gene	start	end	strand	orient

[2021-02-20 18:28] thackl commented on #37
Hi Julia,

I don't think that this can be easily done with gggenes. And I hope David won't mind me advertising a different package, but have a look at [gggenomes](https://thackl.github.io/gggenomes/index.html) . It's loosely based on gggenes, and for it's `geom_gene` you can set `position="pile"` (or `position=position_pile(<more args>)`) to automatically offset overlapping genes.

The data.frame

[2021-02-20 20:35] jchariker commented on #37
Thank you very much, Thomas!
gggenomes handled the overlapping gene regions very well.
Julia

[2021-02-20 20:35] #37 closed

[2021-02-21 07:10] wilkox commented on #37
Thanks Thomas – gggenomes is a great solution for this sort of plot.

[2021-03-20 08:26] wilkox commented on #36
Hi @mchiapello, sorry it took me a while to get to this issue.

Legend keys will be drawn with the same aesthetics as the geom they relate to, which in this case is `geom_arrow()`. So one way to make the key borders white is to make the borders of the arrows white:

[code]

![](https://i.imgur.com/TSMODIT.png)

<sup>Created on 2021-03-20 by the [reprex package](https://reprex.tidyverse.org) (v1.0.

[2021-03-20 08:26] #36 closed

[2021-04-20 22:38] pierrj opened #38 "vertical gene arrows?"
Hello,

I was wondering if anyone knew of a solution to rotate the gene arrows.

I am trying to make a dot plot with gene arrows on the x axis and y axis but am having trouble figuring out how to rotate the arrows to point vertically instead.

Any help would be greatly appreciated.

Thanks,
Pierre

[2021-05-06 05:54] Yu-Wang-uq opened #39 "Cut off the useless position of the map"
Hi,
Thanks for the wonderful visualisation tool for gene arrow map. I have a 5 genome and I pick up the target genes, they are quite far from each other which make the plot unreadable. I wondering if there a way to cut off part off the location that not contain genes.
Thanks for your warm assisstance.

Best.
<img width="1302" alt="Screen Shot 2021-05-06 at 3 51 39 pm" src="https://user-images.gith

[2021-05-14 02:19] wilkox commented on #39
Hi @Yu-Wang-uq, thanks for your kind words about gggenes. Unfortunately as ggplot does not support split axes there is no easy way to do this. You could consider using my package [ggwrap](https://github.com/wilkox/ggwrap) which would allow you to wrap each genome across multiple rows.

[2021-05-14 02:19] #39 closed

[2021-05-14 03:03] thackl commented on #39
You could have a look at the [`focus()`](https://thackl.github.io/gggenomes/reference/focus.html) function of gggenomes. gggenomes builds on ggenes. `focus()` lets you zoom in on neighborhoods around genes of interest.

[2021-05-14 03:23] wilkox commented on #39
Thanks @thackl – I thought there must be a way to do this in gggenomes but somehow overlooked `focus()`!

[2021-05-20 14:31] jvanbelzen opened #40 "ggGenes - Increase Text Size?"
I’m using ggGenes to build a simple gene illustration that I intend to pair with a metagene plot (see attached).  I’m having trouble increasing the text size of the gene name, which should be controlled by geom_gene_label().  I’ve reviewed documentation for ggGenes and ggFitText, and haven’t been able to come up with any solutions.  Have any advice?

**I’ve tried:**
1) Setting ```geom_gene_label(g

[2021-05-31 03:58] wilkox commented on #38
Hi Pierre, sorry it's taken me so long to get to this issue. I don't fully understand what you're trying to achieve; would you be able to sketch a picture of how you would like the final plot to look? Thanks!

[2021-05-31 17:12] pierrj commented on #38
Hello, no worries. Here is what I had in mind:

![image (1)](https://user-images.githubusercontent.com/50971915/120224395-36c71900-c1f8-11eb-8143-fd72785929fd.png)

Basically, just a dot plot showing an alignment between two sequences, and on the x and y axis, the gene arrows corresponding to where annotated genes are in each of the two sequences.

It's been a little while now but I was trying to

[2021-06-01 01:24] wilkox commented on #40
Thanks for reporting this! There are a few things going on here:

- The size of the gene label text is affected by multiple parameters, which can understandably be quite confusing:
  - First, there is the invisible 'box' in which the text is allowed to be drawn. The width of the box is set by the xmin/xmax aesthetics which are shared with `geom_gene_arrow()`. The height is set by the `height` argu

[2021-06-01 03:25] wilkox commented on #38
I've just pushed a new development version (04.1.9004) that adds support for drawing arrows in flipped coordinates by adding `coord_flip()`. You can install the new version by running `devtools::install_github("wilkox/gggenes")`.

[code]

![](https://i.imgur.com/2QlBgGW.png)

<sup>Created on 2021-06-01 by the [reprex package](https://reprex.tidyverse.org) (v1.0.0)</sup>

Let me know how you go!

[2021-06-04 15:40] pierrj commented on #38
Fantastic, thank you!

[2021-06-04 15:40] #38 closed

[2021-06-14 14:20] ctuni commented on #40
Hi! I was having the same issue as OP and installing the development version and then setting the height arguments worked perfectly for me. I was wondering if this version is the one in the current `conda` version of this package, since I am using it on a Docker container built with a conda environment. Thank you very much for your time and sorry if this is an unrelated question to this issue!

[2021-06-15 00:50] wilkox commented on #40
@ctuni I'm not very familiar with conda, but looking at [the condo-forge repo](https://github.com/conda-forge/r-gggenes-feedstock) it appears to be building from the most recent CRAN release (0.4.1) rather than the development version.

[2021-06-20 18:40] meizhao12 opened #41 "Scale showing the size of 1 kb"
Hello!
Thanks for the great package to draw gene maps. Very helpful.
Is there a way to display a small scale showing the size of 1 kb?
Right now, the figure I got displays the scale from 0 to 15000, at the interval of 5000. I was wondering how to show the length of just 1 kb?
And is there a way to move the position of the scale line?

Also, right now I can display the gene name in or above the box

[2021-06-29 03:27] wilkox commented on #41
Hi @meizhao12, thanks for your interest in gggenes!

For your first question, could you please post a [reprex](https://reprex.tidyverse.org) of your current code?

For your second, I'm not sure how you're displaying the gene name above the box. However, if you want to add two separate sets of gene labels to a plot, you can just add two separate `geom_gene_label()` layers with different values for

[2021-09-02 21:59] khkk378 opened #42 "R 3.6 requirement"
Hi! This looks to be a perfect match for us, but we are restricted to R 3.5.1. May I ask what functionality it is that requires 3.6? Looking at the commits it doesn't seem like there would be anything after you bumped the requirement from 3.3 to 3.6. Thanks!

[2021-09-14 19:30] khkk378 opened #43 "Nudge overlapping feature labels"
Hi, and thanks for a great tool! We're using this to show genetic variants in a gene region. Since those tend to be clustered, it's common that the labels overlap. It would be greatly appreciated if you could add the option to draw them without overlap and then use slanted lines to the correct point.

Cheers,
Rasmus

[2021-10-19 05:09] liuqian666 opened #44 "Error in grid.Call"
Sorry for disturb you. But I've met trouble when I using gggenes.
here're my code:

Then the screen shows : **Error in grid.Call(C_convert, x, as.integer(whatfrom), as.integer(whatto),  :
  Viewport has zero dimension(s)**

I've tried to update Rstudio and all the other packages, but the problem was still unsolved. Anybody can help me?
Thank you very much.

[2021-11-15 06:42] wilkox commented on #43
Thanks for the suggestion @khkk378, I'll mark this as a feature request. At the moment this is not something ggfittext (which I use to draw the text labels) is able to do.

[2021-11-15 12:52] KatWillen opened #45 "Circular View of genome"
Hi,

I love gggenes and would also like to use it for my publication, but therefore I would/need like to show some genomes in their circular view. Is it possible to do so with gggene?

Best

Kat

[2021-11-15 22:09] wilkox commented on #45
Hi Kat, currently this can't be done with gggenes (although I'm working on it). In the meantime you might want to look at [Circos](http://circos.ca/) or [plasmapR](https://github.com/BradyAJohnston/plasmapR).

[2021-11-25 13:40] KatWillen commented on #45
Thank you for your fast respond. Another question:  Is it possible to break one genome into two rows? I have a very large one that is not visible nicely on one row.

Best

Katharina

[2021-11-25 14:25] KatWillen commented on #45
Excuse me another question :) How do I decrease the space between the genome and the x-axis?

[2021-11-30 00:31] wilkox commented on #45
To break the genome over multiple rows, you could try my [ggwrap package](https://github.com/wilkox/ggwrap).

There are a few things that determine the space between the genome and the x-axis, but the two easiest to control would be the total height of the plot (which is controlled by the output device), and the height of the gene arrows (which is controlled with the `arrow_body_height` argument t

[2021-11-30 00:31] #45 closed

[2021-12-09 08:46] ireneortega commented on #4
Is there a way to plot two graphs in the same area? I want to graph two plots (in one row or one column), each for a contig of the same genome. At the same time, I want to wrap genes with the function `ggwrap(plot, n)`.

Whatever I try, I get this error:
[code]

[2021-12-09 09:17] ireneortega commented on #44
I had the same problem and I found here https://github.com/slowkow/ggrepel/issues/113 that this is a problem related to graph dimensions. I tried this option `+ theme(legend.position="none")` and worked for me.

[2021-12-12 23:09] wilkox commented on #4
[Patchwork](https://patchwork.data-imaginist.com) might be useful for this.

[2021-12-14 15:34] zreitz opened #46 "Can't change color palette when filling by continuous variable"
Hello, I'm finding the extension very useful, but I have a case where I'd like to fill the genes by a continuous variable. This seems to work fine, but only with the default continuous color scale. Attempts to change the palette give no error, but no change either.

For example, these produce the same plot:
[code]

In the mean time I'll just bucket the variable, but I figured I bring it to your at

[2021-12-15 00:25] wilkox commented on #46
Hi Zach,

The issue here is that you are (correctly) using the `fill` aesthetic, but trying to modify it with `scale_colour_*()` functions instead of `scale_fill_*()` functions. For the first example, if you use `scale_fill_gradient2()` it should work as expected:

[code]

![](https://i.imgur.com/PJoxd3O.png)

<sup>Created on 2021-12-15 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1

[2021-12-15 00:25] #46 closed

[2021-12-15 06:32] zreitz commented on #46
Oh of course!  Thank you the quick reply!

[2021-12-29 17:59] svedwards opened #47 "put gggenes x-axes on common scale"
Hi @wilkox,

Thanks for a very nice package. Really helpful. However, I'm having trouble putting all my genomes on a common numerical axis starting from the gene on which they are centered (BRD2, in green). You can see from the plot image that I have 11 genomes aligned on BRD2 but they all start at different points. I could renumber all the genes in the data.frame, and I have tried all the "breaks

[2021-12-29 23:35] wilkox commented on #47
Hi Scott, thanks for your kind words about gggenes. I hope I have correctly understood what you are trying to achieve. In the code below I capture the range of gene locations in the variables `genes_min` and `genes_max`, then use the `limits` argument to `scale_x_continuous()` to set the range of the x-axis for each molecule to these values.

[code]

![TEs](https://user-images.githubusercontent.co

[2022-01-01 03:32] svedwards commented on #47
Thanks very much, David, this is really helpful. And before I forget, happy new year!
This will help me put all the scaffolds on a common numerical scale. What I'd really like to do is have this common scale **and** have the scaffolds aligned at the BRD2 gene. So it basically requires re-numbering or re-scaling some of the scaffolds. So, basically combining the numbering that you generated (ideall

[2022-01-03 04:36] wilkox commented on #47
Happy New Year!

The example below 'zeros out' all the gene locations by subtracting the minimum location in each molecule (which in every case is the start of BRD2) from all the location values. It then uses `scale_x_continuous()` to manually fix the x-axis range between 0 and 420,000. I have loaded the tidyverse to do this as it greatly simplifies the 'zeroing out' calculations but it would also

[2022-01-03 23:54] svedwards commented on #47
Wow, David, thanks so much. I have really learned alot in this thread and I appreciate your taking the time to help me get around this snag. The result looks beautiful! Hopefully it will be helpful to others as well! Best for now and I enjoyed reading about your microbial research (especially the ecology/biogeography stuff)

Scott

[2022-01-06 07:52] zhaoxvwahaha opened #48 "conflicts between gggenomes and gggenes"
Hi,

The following 2 commands work well when I only install gggenes, but after installed the gggenomes, the command didn't work and get errors:

p<-ggplot(da, aes(xmin = start, xmax = end, y =molecule, fill = gene, label = gene))
p+geom_gene_arrow(arrow_body_height = unit(10, "mm"),arrowhead_height = unit(10, "mm"),arrowhead_width = unit(2, "mm"),alpha=0.8,colour="white")+geom_gene_label(height =

[2022-01-06 08:35] zhaoxvwahaha commented on #37
Hi @jchariker @wilkox ,
I also have the same problem, I used gggenes to show the genome structure with gene name on each gene, but didn't display the overlapping. Then I used gggenomes to show overlapping, but I don't know how to show the gene name on each gene and adjust the their sizes, I checked the help info but didn't work out, could you help to share your command?

[2022-01-08 05:46] wilkox commented on #48
Hi @zhaoxvwahaha, could you please post your code as a [reproducible example](https://reprex.tidyverse.org), including some sample data? Thanks!

[2022-01-09 02:14] g-e-kenney commented on #47
I've been taking a similar approach when using gggenes with my own data.  But I've been wondering - when one does this, is it possible to provide only a single scale (x-axis)?  When all the genomic regions are on the same scale, the duplicate scales just add clutter (particularly if there are a large number of regions being visualized).

If it's challenging due to the way gggenes uses ggplot2, I s

[2022-01-13 10:56] wilkox commented on #47
@g-e-kenney If all the molecules are on the same scale as in the example I posted above, the plot could just be drawn without faceting (i.e. just delete the `facet_wrap()` line). ggplot will draw this with a single x-axis scale at the bottom.

[2022-02-19 02:59] g-e-kenney commented on #47
Rather belatedly: hmm, that actually doesn't quite get at what I was hoping for - it brings me down to a single scale, but without the facet_wrap() line, all the genome regions are independently aligned to the (artificial) 0 kb starting point, rather than aligned to the gene of interest.  Essentially, I'd like to be able to maintain alignment to a gene of interest (via the dummies function) BUT ha

[2022-03-09 13:44] Tsingsjeen opened #49 "conflicts between "make_alignment_dummies()" and "forward" aesthetic"
# the gene cluster align with RDase_A
rdhA_center <- make_alignment_dummies(
  rdhs_cluster,
  aes(xmin = start, xmax = end, y = rdhs_tree.tip.label, id = gene),
  on = "RDase_A")

rdhs_operon2 <- ggplot(rdhs_cluster, aes(xmin = start, xmax = end, y = rdhs_tree.tip.label,
                                              fill = gene, forward = orientation)) +
 geom_gene_arrow() +
  geom_blank(data = r

[2022-03-13 00:01] wilkox commented on #49
Hi @Tsingsjeen, could you please post this as a [reproducible example](https://reprex.tidyverse.org) including the data in `rdhs_cluster`? Thanks!

[2022-03-13 05:43] wilkox commented on #47
@g-e-kenney you can put together something kind of similar with [patchwork](https://patchwork.data-imaginist.com/index.html) and [ggfittext](https://wilkox.org/ggfittext/):

[code]

![](https://i.imgur.com/hmew4XN.png)

<sup>Created on 2022-03-13 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-03-14 11:49] MichWeb75 commented on #49
Hi had a similar issue. You need to add the orientation also to the dummies :
`dummies$orientation <- 1`

[2022-03-14 12:06] mweberr opened #50 "Gene cluster orientation reverse complements"
Dear David,
I really appreciate the work you invested into this package, extremely useful!

I have one issue and maybe you know a smart solution, since you better know the possibilities of the package: In the exampe_genes, the genes always show the similar order. In real NCBI Datasets this is however rarely the case. Usually you end up with something like this:

[code]
Can you imagine a function t

[2022-03-22 13:28] dinahoch opened #52 "Equal scaling between different figures"
Hi @wilkox,

Firstly thank you for the wonderful tool! I am not exaggerating when I say that gggenes has saved me hours of drawing arrows on Illustrator...

I am making several figures and would like the scale to be the same between them. Currently, the figures are all made to be the same length so that 10kb on one figure could be the length of 20kb on another. Is there a way of scaling all axes s

[2022-03-24 09:27] wilkox commented on #52
Hi Dina, thanks for you kind words about gggenes!

It sounds like you are probably faceting the plot with the ggplot2 function `facet_wrap()` and the `scales = "free"` option. If you use `scales = "fixed"` instead, the x axis will be exactly the same in each facet, including the axis limits (i.e. where the axis starts and ends). This will work well if the genes are at similar locations. However, i

[2022-03-24 10:16] wilkox commented on #50
Hi Michael,

I'm not sure if I'm understanding the problem correctly, so apologies if this isn't what you mean. In the example you've given, the 'NCBI-ified' version of Genome2 differs from the true map in only two ways: the direction of the entire molecule is reversed, and the gene locations are numbered from a different starting point:

[code]

![](https://i.imgur.com/RCht42B.png)

<sup>Created

[2022-03-24 12:02] MichWeb75 commented on #50
Thanks for looking at the example. In my examples, mainly from bacterial genomes, it is actually the first point you recognized :
the entire molecule with all genes are reversed, the cluster starts from a different starting point.
Therefore, only the positions have to be recalculated based on the new starting point.

For most of my research partners, the orientation and exact position (14,000 etc.

[2022-03-26 04:02] wilkox commented on #50
Here are a couple of options. First, I'll set up a data frame containing a 'true' and an 'NCBI-ified' version of Genome1.

[code]

![](https://i.imgur.com/j4eWkZV.png)

The first method looks at each molecule and checks whether a selected gene (in this example, genA) is oriented in the correct direction. If not, it marks the entire molecule as 'NCBI-ified'.

[code]

The second method looks at two

[2022-04-10 11:16] dinahoch commented on #52
Hi David,

Thank you for your email and for the help. I dealt with the genes being far apart by giving them false coordinates close to one another and then make_alignment_dummies(), which worked well. However, it might be nice for a future version to have e.g. 10kb take up a defined length so that this can be replicated between figures without having to run all examples together every time – let m

[2022-04-12 10:35] #52 closed

[2022-05-03 20:48] jimrybarski opened #53 "Features without arrows"
Is it possible to plot genes without arrows? I'd like to be able to plot some non-coding elements such as transposon ends, or a region of interest where the transcriptional direction is unknown.

[2022-05-04 10:21] wilkox commented on #53
You can achieve this by tweaking the arrow geometry:

[code]

![](https://i.imgur.com/Cn1ofpr.png)

<sup>Created on 2022-05-04 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-05-04 10:21] #53 closed

[2022-06-03 04:19] dplazas opened #54 "Forward not working?"
Hi, few ays ago I installed the pckg in another pc and ran a script I had and did not work (all genes pointing same direction). After trying many different things, tested one of your examples here and it showed the same issue

[code]
what's happening with the directions?
thank you!

[2022-06-11 07:09] wilkox commented on #54
Hi @dplazas, this is a bug (actually a conflict between how 'forward' was documented as working vs how it actually works) which has been fixed in the current development version. You can install the development version with `devtools::install_github('wilkox/gggenes')`. I don't have a timeline currently for when this version will be submitted to CRAN but it will get there eventually.

[2022-06-11 07:09] #54 closed

[2022-06-11 15:44] dplazas commented on #54
Hi, Ok, I will keep an eye on it. Thank you very much for your help!
Best wishes

[2022-08-24 08:36] YuWang07 opened #55 "Add feature fail."
Hi,

Thanks for develop this amazing tools. I get trouble when using the geom_feature () commend. I am current using the V0.4.1.

`Error in geom_feature(data = features, aes(x = position, y = Genome, forward = forward)) :
  could not find function "geom_feature"`

Could you please give some suggestions?

[2022-08-24 10:01] wilkox commented on #55
Hi YuWang, the `geom_feature()` function is only in the development version of gggenes (the version on GitHub). You can install the development version with:

`devtools::install_github('wilkox/gggenes')`

[2022-08-25 01:06] YuWang07 commented on #55
Hi, David

I reinstall&load this version but still get the same error.

[2022-08-25 23:43] wilkox commented on #55
Can you post the code that produces the error as a [reprex](https://reprex.tidyverse.org)?

[2022-09-23 08:45] esraagithub opened #56 "removing distance between line and arrows"
hello

could you help me to remove this distance
![Capture](https://user-images.githubusercontent.com/53595110/191923735-59c59f07-b47a-4931-9dc9-0c1d61fe7c3b.JPG)
considering my code like this
ggplot(df, aes(xmin = Start, xmax = End, y=BGC,
                                                 fill = Category, forward = Orientation)) +
      geom_gene_arrow()+#arrowhead_height = unit(3, "mm"), arrowhea

[2022-09-23 08:47] wilkox commented on #56
Hi @esraagithub, what is in the `df` data frame?

[2022-09-23 15:32] esraagithub commented on #56
like that
![Capture](https://user-images.githubusercontent.com/53595110/191998036-b3eac3de-62d2-4084-9277-918046e61aee.JPG)

[2022-10-02 05:15] wilkox commented on #56
Thanks @esraagithub. It's still a bit hard for me to help you without extra information. Could you please create a [reprex](https://reprex.tidyverse.org) with your code? Thanks